   h3 { text-align: center}
   div {border-width: 1px; padding: 10px;
   		border: groove; margin-left:auto;margin-right:auto; width:480px}
   li { text-align:justify;"}
   img { width:240px }
   p.img {text-align: center}

